        /*header*/
        
        header {
            background-color: green;
            align-items: center;
            text-align: center;
        }
        
        header p {
            color: white;
            margin-bottom: 0;
        }
        
        body {
            font-family: 'Poppins', sans-serif;
        }
        
        .mt-0 {
            margin-top: 0 !important;
        }
        
        .mb-0 {
            margin-bottom: 0 !important;
        }
        
        .nav-item .active {
            background-color: transparent;
            color: black;
            font-weight: bold;
        }
        
        .navbar {
            z-index: 999;
        }
        
        .nav-link {
            color: black;
        }
        
        .nav-link:hover {
            color: black;
            font-weight: bold;
        }
        
        .jumbotron {
            background-color: #FEC600;
            padding-top: 0%;
            display: flex;
            align-items: center;
            margin-top: 6.5%;
        }
        
        .jumbotron .container {
            display: flex;
            flex-direction: column;
            /* Menetapkan tata letak kontainer ke kolom */
            align-items: flex-start;
            /* Memposisikan kontainer secara horizontal ke kiri */
            text-align: left;
            /* Memastikan teks dalam kontainer berada di kiri */
        }
        
        .row h1 {
            color: #3A3934;
            font-weight: bold;
        }
        
        .lead {
            font-weight: bold;
        }
        
        .jumbotron .row {
            display: flex;
            justify-content: space-between;
        }
        
        .jumbotron img {
            display: flex;
            justify-content: flex-end;
            /* Mengatur gambar-gambar di ujung kanan */
            flex-direction: column;
        }
        
        .sambaljumbo {
            width: 1000px;
            height: 600px;
            transition: transform 0.5s ease;
            padding-bottom: 0;
        }
        
        .sambaljumbo:hover {
            transform: scale(1.3);
        }
        
        .btn-jumbo {
            background-color: #EB3E48;
            color: #ffffff;
            border-radius: 20px;
            padding: 10px 25px;
            transition: transform 0.5s ease;
            font-weight: bold;
            border: none;
        }
        
        .btn-jumbo:hover {
            background-color: #ffffff;
            color: #3A3934;
            border-radius: 20px;
            padding: 10px 25px;
            border: none;
        }
        /* buat pilih gengsmu */
        
        .red-text {
            color: #EB3E48;
        }
        /* CSS untuk mengatur ukuran kartu (card) */
        /* CSS untuk mengatur ukuran kartu (card) */
        
        .card-geng {
            max-width: 18rem;
            /* Lebar maksimum kartu */
            margin-bottom: 0px;
            /* Efek bayangan */
            border: none;
        }
        /* CSS untuk mengatur ukuran gambar pada kartu */
        
        .card-geng img {
            height: 120px;
            /* Tinggi gambar */
            width: 120px;
            /* Lebar gambar */
            transition: cubic-bezier(0.23, 1, 0.320, 1);
            margin-top: 10px;
            margin-bottom: 0px;
        }
        
        .card-geng img:hover {
            transform: scale(1.1);
        }
        /* CSS untuk memastikan gambar tetap proporsional */
        
        .card-img-top {
            width: 100%;
            /* Lebar gambar mencakup seluruh lebar kartu */
            height: auto;
            /* Tinggi gambar menyesuaikan dengan lebar kartu */
        }
        
        .card-nama-geng {
            margin-bottom: 0px;
        }
        
        .product-image .open {
            display: none;
            /* Sembunyikan gambar terbuka secara default */
        }
        
        .product-card {
            position: relative;
            max-width: 18rem;
            /* Lebar maksimum kartu */
            height: 100%;
            margin: 10px;
            /* Atur margin secara keseluruhan */
            padding: 10px;
            /* Atur padding secara keseluruhan */
            /* Menetapkan tinggi kartu */
        }
        
        .product-image {
            height: 200px;
            width: 50px;
            padding: 0;
            overflow: hidden;
            /* Menghilangkan bagian gambar yang melebihi ukuran */
        }
        
        .product-image img {
            width: 100%;
            height: 100%;
            /* Mengisi tinggi gambar sesuai parent */
            object-fit: cover;
            /* Membuat gambar mengisi seluruh area */
        }
        
        .harga {
            font-size: 20px;
        }
        
        .product-info h5 {
            font-size: 15px;
        }
        
        .product-info p {
            font-size: 20px;
            font-weight: bolder;
        }
        
        .btn-beli {
            background-color: #EB3E48;
            color: #ffffff;
            font-weight: bold;
            width: 200px;
            border: none;
        }
        
        .btn-beli:hover {
            background-color: #7b303200;
            color: #EB3E48;
            border: 1px solid #EB3E48;
        }
        
        .page-link {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            width: 30px;
            text-align-last: center;
        }
        
        .page-item.active .page-link {
            background-color: #EB3E48 !important;
            color: white !important;
            border: 1px solid black;
        }
        .accordion-button {
            background-color: #ffffff;
            color: #000000;
        }
        .accordion-button:not(.collapsed) {
            background-color: #ffffff; 
            color: #000000;
            
        }
        
        .accordion-button:focus {
            outline: none !important; 
            box-shadow: none !important;
        }
        /*Kontak*/
        .kontak {
            background-color: #393E66;
        }

        .judul_kontak {
            color: #ffffff;
        }

        .col-divider {
            border-right: 1px solid #000; /* Atur warna dan lebar garis pembatas */
            padding-right: 15px; /* Tambahkan padding kanan untuk memberi jarak antara gambar dan garis */
            margin-right: 15px; /* Tambahkan margin kanan untuk memberi jarak di antara kolom */
        }
        .col-divider:last-child {
            border-right: none; /* Hilangkan garis pembatas di kolom terakhir */
            padding-right: 0; /* Hilangkan padding kanan di kolom terakhir */
            margin-right: 0; /* Hilangkan margin kanan di kolom terakhir */
        }

        .row-divider {
            border-top: 1px solid #000; /* Atur warna dan ketebalan garis pembatas */
            margin-top: 15px; /* Tambahkan margin atas untuk memberi jarak antara baris */
            padding-top: 15px; /* Tambahkan padding atas untuk memberi jarak antara gambar dan garis */
        }
        .row-divider:first-child {
            border-top: none; /* Hilangkan garis pembatas di baris pertama */
            margin-top: 0; /* Hilangkan margin atas di baris pertama */
            padding-top: 0; /* Hilangkan padding atas di baris pertama */
        }

        /*testimoni*/

        .container1 {
            background-color: #FEC600;
        }
        .testimonial-testimoni {
            display: flex;
            flex-direction: column; /* Mengatur tata letak menjadi kolom */
            justify-content: center; /* Menjadikan konten berada di tengah secara vertikal */
            align-items: center; /* Menjadikan konten berada di tengah secara horizontal */
            gap: 20px;
          }


          .testimonial-testimoni h1 {
            font-family:'Poppins';
            margin-top: 20px;
          }
          
          .testimonial-card {
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 600px;
            display: flex;
            gap: 50px;
            border-radius: 80px;
          }
          
          .avatar {
            width: 100px;
            height: 80px;
            background-color: #ccc;
            border-radius: 50%;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          
          .content {
            text-align: left; /* Menjadikan teks menjadi rata kiri */
          }
          .testimonial-testimoni {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-family: "Poppins";
          }

          .testimonial-testimoni {
            display: flex;
            flex-direction: column; /* Mengatur tata letak menjadi kolom */
            justify-content: center; /* Menjadikan konten berada di tengah secara vertikal */
            align-items: center; /* Menjadikan konten berada di tengah secara horizontal */
            gap: 20px;
          }

          
          .testimonial-card {
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 600px;
            display: flex;
            gap: 50px;
            margin-bottom: 40px;
            margin-top: 40px;
          }
          
          .avatar1 {
            width: 100px;
            height: 80px;
            background-color: #ccc;
            border-radius: 50%;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          
          .content1 {
            text-align: left; /* Menjadikan teks menjadi rata kiri */
          }
          .rating {
            margin-top: 0;
            margin-bottom: 10px; /* Mengurangi jarak di bawah .rating */
            font-weight: bold; /* Menjadikan teks dalam .rating menjadi tebal (bold) */
          }
          
          .nama {
            margin-bottom: 5px; /* Mengurangi jarak di bawah nama */
          }
          
          .star {
            color: gold;
            font-size: 24px; /* Mengatur ukuran bintang */
            margin-right: 5px; /* Menambahkan sedikit jarak di sebelah kanan bintang */
          }
          
          .paragraft {
            margin-top: 0; /* Menghapus margin atas pada elemen p */
            margin-bottom: 0; /* Menghapus margin bawah pada elemen p */
          }
          

        
        
        /*Kritik dan saran*/

.kritiksaran {
    background-color: #FEC600;
    margin: auto;
}

  .containerkritik {
    max-width: 600px;
    margin: 0 auto;
    padding: 70px;
  }
  
  h1 {
    font-weight: bold 600;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding-bottom: 40px;
  }
  
  form {
    margin-bottom: 20px;
    margin: auto;
    padding-inline-start: 26px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 680px;
    margin-inline: -80px;
    align-items: center;
  }
  
  .input-group {
    display: flex;
    flex-direction: column; /* Mengubah orientasi menjadi vertikal */
    margin-bottom: 10px;
    width: 270px;
    padding-right: 10px;
  }
  
  .input-group label {
    width: auto; /* Mengubah lebar label menjadi otomatis */
    margin-right: 0; /* Menghilangkan margin kanan */
    margin-bottom: 10px; /* Memberikan jarak antara label dan input */
  }
  
  .input-group input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px;
    width: 135%; /* Menjadikan input 100% lebar */
    margin: auto;
  }
  
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group textarea {
    padding: 15px; /* Menyesuaikan padding untuk membuat semua input dan textarea memiliki ukuran yang sama */
    height: 50px; /* Menjadikan tinggi input teks dan email sama */
    width: 100%; /* Menjadikan lebar semua input 100% */
  }
  
  .input-group input[type="text"] {
    margin-top: 0; /* Menghapus margin atas untuk input nama */
  }
  
  .input-group:nth-child(2) input[type="email"] {
    margin-top: 0; /* Menghapus margin atas untuk input email */
  }
  
  textarea {
    padding: 20px; /* Menyesuaikan padding untuk membuat textarea memiliki ukuran yang sama */
    height: 150px; /* Menjadikan tinggi textarea sama */
    width: 135%; /* Menjadikan lebar textarea 100% */
    box-shadow: 2px 2px 2px;
    border-radius: 7px;
    margin: auto;
    margin-inline: -80px;
    margin-top: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #023f04;
    color: white;
    border: none;
    width: 30%;
    border-radius: 35px;
    cursor: pointer;
  
    align-items: center; /* Ini tidak diperlukan untuk tombol */
    margin: 0 auto; /* Membuat tombol berada di tengah halaman secara horizontal */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .posisi-btn {
    margin-top: 15px;
    display: flex;
    justify-content: center; /* Mengatur tombol berada di tengah halaman secara horizontal */
  }
  
